// Custom Theming for Angular Material
@import "~@angular/material/theming";

// Include the common styles for Angular Material.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
$client-primary: mat-palette($mat-red, 100);
$client-accent: mat-palette($mat-red, 200);

// Create the theme object.
$client-theme: mat-light-theme($client-primary, $client-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($client-theme);

/* Global styles */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex-grow: 1;
}
