<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>all_inbox</mat-icon>
      Inbox
    </ng-template>

    <app-messages-table
      *ngIf="receivedMessages?.length > 0"
      [data]="receivedMessages"
      [isSentMessage]="false"
    ></app-messages-table>

    <div class="no-data" *ngIf="receivedMessages?.length === 0">
      No messages were found
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>send</mat-icon>
      Sent
    </ng-template>

    <app-messages-table
      *ngIf="sentMessages?.length > 0"
      [data]="sentMessages"
      [isSentMessage]="true"
    ></app-messages-table>

    <div class="no-data" *ngIf="sentMessages?.length === 0">
      No messages were found
    </div>
  </mat-tab>
</mat-tab-group>
